* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}
  
.card {
  margin: 10px;
  transition: .3s;
  border-radius: 4px;
  min-height: 30vh;
  background-color: #1388f5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
}

.card h1 {
  height: 100%;
  padding: 0 0;
  vertical-align: bottom;
  text-align: center;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform:  scale(1.01);
}